*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: "Outfit", sans-serif;
    line-height: 1.5;
}

/* ----------Typography---------------- */
h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    letter-spacing: 4px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #333;
}

h3 {
    font-size: 1.31rem;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
}

p {
    font-size: 0.87rem;
    line-height: 1.5;
    color: #333;
}

label {
    font-size: 0.75rem;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}


/* ----------Sections---------------- */

.margin-bottom-80 {
    margin-bottom: 120px;
}
