*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* ----------Variables---------------- */

:root {
    /* Colors */
    --color-text-primary: #333;
    --color-text-secondary: #555;
    --color-background: #fff;
    --color-accent: firebrick;

    /* Typography */
    --font-family-base: "Outfit", sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-md: 1.3125rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;

    --font-weight-normal: 300;
    --font-weight-bold: 600;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.2rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
    --space-2xl: 7.5rem;


}

/* ---------- Page ---------------- */

html {
    font-size: 16px;
}

body {
    font-family: var(--font-family-base);
    line-height: var(--space-md);
}

.container {
    width: min(100% - 2rem, 1120px);
    margin-inline: auto;
}

section > * + * {
    margin-block-start: var(--space-sm);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--space-md);
    margin: var(--space-sm) 0;
    padding: 0;
}

/* ----------Typography---------------- */
h1 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    color: var(--color-accent);
    letter-spacing: 4px;
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    color: var(--color-text-primary);
}

h3 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: 1.4;
    color: var(--color-text-primary);
}

p {
    font-size: var(--font-size-sm);
    line-height: 1rem;
    color: var(--color-text-secondary);
}

label {
    font-size: var(--font-size-sm);
    line-height: 1rem;
    color: var(--color-text-secondary);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    letter-spacing: 1.2px;
}


/* ----------Sections---------------- */

.section-spacing {
    margin-block-end: var(--space-2xl);
}

.curated-trackday-list {
    display: flex;
    justify-content: stretch;
    gap: var(--space-md);
}

.curated-trackday-card {
    flex: 1;
    padding: var(--space-md);
    border: 1px solid var(--color-text-secondary);
}


